.div1.fly-birds-page_1dceca2e78 {
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.46875rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 3;
}
.div1.fly-birds-page_1dceca2e78 .div2 .image3 {
  height: 5.46875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div2 .div4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -8.328125rem;
  margin-top: -0.40625rem;
  min-height: 1.117188rem;
  width: 2.542969rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div2 .div4 .div5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.3125rem;
  min-height: 0.210938rem;
  width: 2.539063rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div2 .div4 .div5 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div2 .div4 .div5 .text-container-1349 {
  text-align: left;
  width: 3.046875rem;
}
.div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1424 {
  color: #fff;
  font-size: 0.28125rem;
  line-height: 0.128906rem;
}
.div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1425 {
  color: #fff;
  font-size: 0.28125rem;
  letter-spacing: 1px;
  line-height: 0.117188rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1425 {
  letter-spacing: 0.5px;
}
.div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1426 {
  color: #fff;
  font-size: 0.28125rem;
  letter-spacing: 1px;
  line-height: 0.117188rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1426 {
  letter-spacing: 0.5px;
}
.div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1427 {
  color: #fff;
  font-size: 0.28125rem;
  letter-spacing: 1px;
  line-height: 0.117188rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div2
  .div4
  .div5
  .text-container-1349
  .split_text1427 {
  letter-spacing: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div2 .div4 .div6 {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 0.140625rem;
  justify-content: center;
  min-height: 0.171875rem;
  width: 0.835938rem;
}
.div1.fly-birds-page_1dceca2e78 .image7 {
  height: 81.242188rem;
  margin-top: -5.46875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 5.929688rem;
  justify-content: flex-start;
  margin-top: -75.773438rem;
  padding-bottom: 0.460938rem;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_1dceca2e78 .div8 .image9 {
  height: 5.929688rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div10 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -3.199219rem;
  margin-top: -5.214844rem;
  min-height: 1.347656rem;
  width: 3.457031rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div10 .image11 {
  height: 1.347656rem;
  width: 3.457031rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div10 .div12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -3.039063rem;
  margin-top: 0.074219rem;
  min-height: 0.460938rem;
  width: 1.167969rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div10 .div12 .split_text1432 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 1.25rem;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div13 {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3.535156rem;
  margin-top: -1.28125rem;
  min-height: 2.5625rem;
  width: 3.121094rem;
  z-index: 3;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div13 .image14 {
  height: 2.5625rem;
  width: 3.121094rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div13 .div15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.476563rem;
  margin-left: -2.707031rem;
  min-height: 0.636719rem;
  width: 0.945313rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div13 .div15 .split_text1434 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 0.988281rem;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div16 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -3.199219rem;
  margin-top: -1.203125rem;
  min-height: 1.203125rem;
  padding-right: 0.445313rem;
  width: 3.457031rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div16 .image17 {
  height: 1.203125rem;
  width: 3.457031rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div16 .div18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.554688rem;
  margin-top: 0.054688rem;
  min-height: 0.492188rem;
  width: 1.109375rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div16 .div18 .split_text1433 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 1.25rem;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.25rem;
  margin-top: 0.078125rem;
  min-height: 2.046875rem;
  width: 2.40625rem;
  z-index: 4;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div19 .image20 {
  height: 2.046875rem;
  width: 2.40625rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div19 .div21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.042969rem;
  margin-top: -1.71875rem;
  min-height: 0.3125rem;
  width: 1.511719rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div19 .div21 .split_text1435 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 1.5625rem;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2.484375rem;
  margin-top: -2.046875rem;
  min-height: 2.046875rem;
  width: 4.171875rem;
  z-index: 5;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div22 .image23 {
  height: 2.046875rem;
  width: 4.171875rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div22 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.570313rem;
  margin-top: -1.71875rem;
  min-height: 0.460938rem;
  width: 1.199219rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div8 .div22 .div24 .split_text1436 {
  color: #fff;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 1.320313rem;
}
.div1.fly-birds-page_1dceca2e78 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 6.160156rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_1dceca2e78 .div25 .image26 {
  height: 6.160156rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.328125rem;
  margin-top: 0.660156rem;
  min-height: 2.1875rem;
  width: 2.125rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.496094rem;
  width: 1.550781rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div25 .div27 .div28 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div28 .split_text1438 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.359375rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div25
  .div27
  .div28
  .split_text1438 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.105469rem;
  min-height: 0.492188rem;
  width: 1.382813rem;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div29 .split_text1439 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 1.917969rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div25
  .div27
  .div29
  .split_text1439 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.226563rem;
  min-height: 0.867188rem;
  width: 2.125rem;
}
.div1.fly-birds-page_1dceca2e78 .div25 .div27 .div30 .split_text1437 {
  color: #000;
  font-size: 0.117188rem;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.246094rem;
}
.div1.fly-birds-page_1dceca2e78 .div31 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4.949219rem;
  justify-content: flex-start;
  padding-right: 1.441406rem;
  width: 10rem;
  z-index: 6;
}
.div1.fly-birds-page_1dceca2e78 .div31 .image32 {
  height: 4.949219rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.652344rem;
  margin-top: -0.066406rem;
  min-height: 2.492188rem;
  width: 2.210938rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.453125rem;
  width: 1.929688rem;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div34 .split_text1440 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.164063rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div31
  .div33
  .div34
  .split_text1440 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.140625rem;
  min-height: 0.734375rem;
  width: 2.117188rem;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div35 .split_text1442 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.1875rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div31
  .div33
  .div35
  .split_text1442 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.007813rem;
  margin-top: 0.269531rem;
  min-height: 0.894531rem;
  width: 2.203125rem;
}
.div1.fly-birds-page_1dceca2e78 .div31 .div33 .div36 .split_text1441 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 2.285156rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 8.792969rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 7;
}
.div1.fly-birds-page_1dceca2e78 .div37 .image38 {
  height: 8.792969rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1.574219rem;
  margin-top: -7.605469rem;
  min-height: 2.03125rem;
  width: 5.105469rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.226563rem;
  width: 3.128906rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div40 .split_text1444 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div37
  .div39
  .div40
  .split_text1444 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.015625rem;
  margin-top: 0.085938rem;
  min-height: 0.222656rem;
  width: 4.144531rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div41 .split_text1445 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div37
  .div39
  .div41
  .split_text1445 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.222656rem;
  min-height: 0.269531rem;
  width: 5.09375rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div42 .split_text1443 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 5.34375rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div43 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.015625rem;
  margin-top: 0.566406rem;
  min-height: 0.175781rem;
  width: 3.757813rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div43 .div44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.175781rem;
  width: 0.710938rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div43 .div44 .split_text1446 {
  background: linear-gradient(60deg, #3dd8d3, #363a88 15%, #dd4366 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  font-size: 0.234375rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 2.148438rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div43 .div45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.175781rem;
  width: 0.84375rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div43 .div45 .split_text1448 {
  background: linear-gradient(60deg, #3dd8d3, #363a88 15%, #dd4366 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  font-size: 0.234375rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 2.148438rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div46 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.011719rem;
  min-height: 0.140625rem;
  width: 4.691406rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div46 .div47 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.140625rem;
  width: 1.730469rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div46 .div47 .split_text1447 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 2.265625rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div46 .div48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.140625rem;
  width: 1.773438rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .div39 .div46 .div48 .split_text1449 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 2.265625rem;
}
.div1.fly-birds-page_1dceca2e78 .div37 .image49 {
  height: 0.445313rem;
  margin-left: -1.5rem;
  margin-top: -0.449219rem;
  width: 0.007813rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div50 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.597656rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 8;
}
.div1.fly-birds-page_1dceca2e78 .div50 .image51 {
  height: 5.597656rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.34375rem;
  margin-top: 0.082031rem;
  min-height: 1.773438rem;
  width: 2.046875rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div53 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  min-height: 0.222656rem;
  width: 1.386719rem;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div53 .split_text1450 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.79688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div50
  .div52
  .div53
  .split_text1450 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div54 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.085938rem;
  min-height: 0.503906rem;
  width: 2.015625rem;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div54 .split_text1452 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.175781rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div50
  .div52
  .div54
  .split_text1452 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div55 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.015625rem;
  margin-top: 0.222656rem;
  min-height: 0.738281rem;
  width: 2.03125rem;
}
.div1.fly-birds-page_1dceca2e78 .div50 .div52 .div55 .split_text1451 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 2.070313rem;
}
.div1.fly-birds-page_1dceca2e78 .div56 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7.4375rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 9;
}
.div1.fly-birds-page_1dceca2e78 .div56 .image57 {
  height: 7.4375rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div56 .image58 {
  height: 0.300781rem;
  margin-left: 3.300781rem;
  margin-top: -5.894531rem;
  width: 1.207031rem;
  z-index: 5;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4.222656rem;
  margin-top: -0.253906rem;
  min-height: 1.734375rem;
  width: 2.082031rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div60 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.484375rem;
  min-height: 0.203125rem;
  width: 0.339844rem;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div60 .split_text1454 {
  color: #0081fb;
  font-size: 0.28125rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 0.796875rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div56
  .div59
  .div60
  .split_text1454 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div61 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.628906rem;
  min-height: 0.222656rem;
  width: 1.445313rem;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div61 .split_text1455 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.5rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div56
  .div59
  .div61
  .split_text1455 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div62 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.894531rem;
  width: 2.082031rem;
}
.div1.fly-birds-page_1dceca2e78 .div56 .div59 .div62 .split_text1453 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 2.421094rem;
}
.div1.fly-birds-page_1dceca2e78 .div63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.992188rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 10;
}
.div1.fly-birds-page_1dceca2e78 .div63 .image64 {
  height: 6.992188rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1.472656rem;
  margin-top: -6.988281rem;
  min-height: 1.179688rem;
  width: 5.199219rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div66 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.21875rem;
  width: 1.910156rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div63 .div65 .div66 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div66 .split_text1457 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div63
  .div65
  .div66
  .split_text1457 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div67 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.089844rem;
  min-height: 0.222656rem;
  width: 2.734375rem;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div67 .split_text1458 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div63
  .div65
  .div67
  .split_text1458 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div68 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.222656rem;
  min-height: 0.425781rem;
  width: 5.195313rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div63 .div65 .div68 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div63 .div65 .div68 .split_text1456 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 5.34375rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.632813rem;
  justify-content: flex-start;
  padding-bottom: 3.128906rem;
  width: 10rem;
  z-index: 11;
}
.div1.fly-birds-page_1dceca2e78 .div69 .image70 {
  height: 7.632813rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -7.015625rem;
  min-height: 1.023438rem;
  width: 4.875rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div72 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.011719rem;
  min-height: 0.171875rem;
  width: 1.457031rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div72 .split_text1460 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div71
  .div72
  .split_text1460 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.132813rem;
  min-height: 0.222656rem;
  width: 2.332031rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div69 .div71 .div73 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div73 .split_text1461 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div71
  .div73
  .split_text1461 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div74 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.226563rem;
  min-height: 0.269531rem;
  width: 4.875rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div71 .div74 .split_text1459 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: center;
  width: 4.929688rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5.210938rem;
  margin-top: 1.464844rem;
  min-height: 0.542969rem;
  width: 1.257813rem;
  z-index: 3;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .image76 {
  height: 0.296875rem;
  width: 0.171875rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.238281rem;
  margin-top: 0.074219rem;
  min-height: 0.46875rem;
  width: 0.847656rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div78 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.796875rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div78 .split_text1465 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div75
  .div77
  .div78
  .split_text1465 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div79 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.039063rem;
  min-height: 0.113281rem;
  width: 0.847656rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div79 .split_text1466 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div75
  .div77
  .div79
  .split_text1466 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div80 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.773438rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div75 .div77 .div80 .split_text1467 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div75
  .div77
  .div80
  .split_text1467 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1.839844rem;
  margin-top: -0.519531rem;
  min-height: 0.496094rem;
  width: 1.207031rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .image82 {
  height: 0.273438rem;
  width: 0.144531rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.234375rem;
  margin-top: 0.050781rem;
  min-height: 0.445313rem;
  width: 0.828125rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div84 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.492188rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div84 .split_text1462 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div81
  .div83
  .div84
  .split_text1462 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.039063rem;
  min-height: 0.113281rem;
  width: 0.816406rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div85 .split_text1463 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div81
  .div83
  .div85
  .split_text1463 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div86 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.089844rem;
  width: 0.625rem;
}
.div1.fly-birds-page_1dceca2e78 .div69 .div81 .div83 .div86 .split_text1464 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 1.054688rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div69
  .div81
  .div83
  .div86
  .split_text1464 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div69 .image87 {
  height: 0.355469rem;
  margin-left: 2.980469rem;
  margin-top: 0.523438rem;
  width: 2.410156rem;
  z-index: 4;
}
.div1.fly-birds-page_1dceca2e78 .div88 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5.492188rem;
  justify-content: flex-start;
  padding-right: 1.707031rem;
  width: 10rem;
  z-index: 12;
}
.div1.fly-birds-page_1dceca2e78 .div88 .image89 {
  height: 5.492188rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.433594rem;
  margin-top: -0.390625rem;
  min-height: 1.492188rem;
  width: 2.726563rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.222656rem;
  width: 1.703125rem;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div91 .split_text1469 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.773438rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div88
  .div90
  .div91
  .split_text1469 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.082031rem;
  min-height: 0.503906rem;
  width: 2.679688rem;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div92 .split_text1470 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.773438rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div88
  .div90
  .div92
  .split_text1470 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.257813rem;
  min-height: 0.425781rem;
  width: 2.726563rem;
}
.div1.fly-birds-page_1dceca2e78 .div88 .div90 .div93 .split_text1468 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 2.773438rem;
}
.div1.fly-birds-page_1dceca2e78 .div94 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 6.160156rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 13;
}
.div1.fly-birds-page_1dceca2e78 .div94 .image95 {
  height: 6.160156rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.332031rem;
  margin-top: -0.40625rem;
  min-height: 2.082031rem;
  width: 2.234375rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div97 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.445313rem;
  width: 1.867188rem;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div97 .split_text1471 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.320313rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div94
  .div96
  .div97
  .split_text1471 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div98 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.125rem;
  min-height: 0.226563rem;
  width: 2.230469rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div94 .div96 .div98 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div98 .split_text1473 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.265625rem;
}
.hairlines
  .div1.fly-birds-page_1dceca2e78
  .div94
  .div96
  .div98
  .split_text1473 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div99 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.261719rem;
  min-height: 1.023438rem;
  width: 2.203125rem;
}
.hairlines .div1.fly-birds-page_1dceca2e78 .div94 .div96 .div99 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1dceca2e78 .div94 .div96 .div99 .split_text1472 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  opacity: 0.7;
  text-align: left;
  width: 2.242188rem;
}
.div1.fly-birds-page_1dceca2e78 .div100 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3.5625rem;
  justify-content: flex-start;
  padding-bottom: 1.335938rem;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div100 .image101 {
  height: 3.5625rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div100 .image102 {
  height: 2.523438rem;
  margin-left: -2.960938rem;
  margin-top: -3.089844rem;
  width: 2.328125rem;
  z-index: 5;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div103 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -3.171875rem;
  margin-top: -2.378906rem;
  min-height: 0.113281rem;
  width: 1.179688rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div103 .split_text1419 {
  color: #000;
  font-size: 0.15625rem;
  line-height: 0.234375rem;
  text-align: left;
  width: 2.914063rem;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div104 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2.074219rem;
  margin-top: 0.429688rem;
  min-height: 0.21875rem;
  width: 3.175781rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div104 .split_text1420 {
  color: #000;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
  text-align: left;
  width: 3.515625rem;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div105 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2.222656rem;
  margin-top: 0.336719rem;
  min-height: 0.398438rem;
  width: 3.066406rem;
  z-index: 3;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div105 .split_text1421 {
  color: #5d5d5d;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: left;
  width: 3.089844rem;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div106 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2.902344rem;
  margin-top: 0.210938rem;
  min-height: 0.101563rem;
  width: 2.386719rem;
  z-index: 4;
}
.div1.fly-birds-page_1dceca2e78 .div100 .div106 .split_text1422 {
  color: #5d5d5d;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: left;
  width: 3.082031rem;
}
.div1.fly-birds-page_1dceca2e78 .div107 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 3.964844rem;
  justify-content: flex-start;
  padding-right: 2.4375rem;
  width: 10rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div107 .image108 {
  height: 3.964844rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div107 .image109 {
  height: 0.332031rem;
  margin-left: -3.21875rem;
  margin-top: -1.1875rem;
  width: 1.550781rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div107 .div110 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.304688rem;
  margin-top: -1.152344rem;
  min-height: 0.117188rem;
  width: 0.535156rem;
  z-index: 2;
}
.div1.fly-birds-page_1dceca2e78 .div107 .div110 .split_text1423 {
  color: #fff;
  font-size: 0.125rem;
  line-height: 0.175781rem;
  text-align: left;
  width: 0.734375rem;
}
.div1.fly-birds-page_1dceca2e78 .div130-4 {
  background-size: 100% 100%;
  display: flex;
  height: 3.964844rem;
  width: 10rem;
  z-index: 10;
}
.div1.fly-birds-page_1dceca2e78 .div130-4 .div111-2 {
  align-items: center;
  border: 0.007813rem solid #fff;
  border-radius: 0.039063rem;
  box-sizing: border-box;
  display: flex;
  height: 0.359375rem;
  justify-content: space-between;
  margin-left: 6.773438rem;
  margin-top: 1.171875rem;
  min-width: 1.636719rem;
}
.div1.fly-birds-page_1dceca2e78 .div130-4 .div111-2 .split_text4521 {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 0.125rem;
  font-weight: 700;
  height: 0.359375rem;
  justify-content: center;
  line-height: 1.2;
  min-width: 1.171875rem;
  padding: 0 0.117188rem;
  text-align: center;
}
.div1.fly-birds-page_1dceca2e78 .div130-4 .div111-2 .split_text4521-bg {
  background-image: url(https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-tv-a-pro-32/pc/white.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 0.347656rem 0.226563rem;
  height: 100%;
  width: 0.546875rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0.554688rem;
  padding-top: 0.390625rem;
  width: 10rem;
  z-index: 14;
}
.div1.fly-birds-page_1dceca2e78 .div111 .image112 {
  height: 3.101563rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.054688rem;
  min-height: 2.472656rem;
  width: 6.59375rem;
  z-index: 1;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div114 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.726563rem;
  width: 6.507813rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div114 .split_text1474 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div115 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.015625rem;
  min-height: 0.351563rem;
  width: 6.574219rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div115 .split_text1475 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div116 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.59375rem;
  width: 6.59375rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div116 .split_text1476 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div117 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.101563rem;
  width: 5.378906rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div117 .split_text1477 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div118 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.203125rem;
  width: 6.570313rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div118 .split_text1478 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div119 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.226563rem;
  width: 6.570313rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div119 .split_text1479 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div120 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.101563rem;
  width: 5.828125rem;
}
.div1.fly-birds-page_1dceca2e78 .div111 .div113 .div120 .split_text1480 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 6.640625rem;
}
.specs-con {
  background-color: #fff;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}
.mi-modal.mi-modal--desktop .mi-modal__content.notify-pc-modal {
  min-width: 560px;
  width: 850px;
}
.notify-m-modal__title,
.notify-pc-modal__title {
  border-bottom: 1px solid var(--border-light-variant);
  color: var(--title-base);
  font-size: 28px;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content,
.notify-pc-modal__content {
  box-sizing: border-box;
  padding: 30px 0;
}
.notify-m-modal__content .notify-modal__icon,
.notify-pc-modal__content .notify-modal__icon {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
}
.notify-m-modal__content .notify-modal__icon .xiaomi,
.notify-pc-modal__content .notify-modal__icon .xiaomi {
  color: #83c44e;
  font-size: 85px;
  line-height: 1;
}
.notify-m-modal__content .notify-modal__subtitle,
.notify-pc-modal__content .notify-modal__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content .notify-modal__detail,
.notify-pc-modal__content .notify-modal__detail {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}
.notify-m-modal__content .notify-modal__detail a,
.notify-pc-modal__content .notify-modal__detail a {
  color: #ff6700;
  text-decoration: underline;
}
.notify-m-modal__actions,
.notify-pc-modal__actions {
  align-items: center;
  border-top: 1px solid var(--border-light-variant);
  display: flex;
  height: 80px;
  justify-content: center;
}
.notify-m-modal__actions .notify-modal__button,
.notify-pc-modal__actions .notify-modal__button {
  align-items: center;
  background-color: var(--background-primary);
  border: 0;
  box-sizing: border-box;
  color: var(--link-light-variant);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  padding: 0 40px;
  -webkit-user-select: none;
  user-select: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title--center {
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title-wrap {
  height: auto;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content {
  padding-left: 10px;
  padding-right: 10px;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__icon {
  display: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__subtitle {
  font-size: 16px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__detail {
  text-align: left;
  width: 100%;
}
.mi-modal.mi-modal--mobile .notify-m-modal__actions {
  display: none;
}
.buy-container {
  background-color: #fafafa;
  transition: height 0.5s ease;
  width: 100%;
}
.buy-container::-webkit-scrollbar {
  display: none;
}
.buy-container .product__main {
  border-top: none !important;
}
html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.046875rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.007813rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}
.eg .footer.footer--desktop,
.eg .header.header--desktop,
.eg .site-footer-v4,
.eg .site-header-v4rd,
.eg .xm-button,
.eg .xm-navbar,
.eg .xm-price,
.eg .xm-text,
.gcc .footer.footer--desktop,
.gcc .header.header--desktop,
.gcc .site-footer-v4,
.gcc .site-header-v4rd,
.gcc .xm-button,
.gcc .xm-navbar,
.gcc .xm-price,
.gcc .xm-text,
.sa .footer.footer--desktop,
.sa .header.header--desktop,
.sa .site-footer-v4,
.sa .site-header-v4rd,
.sa .xm-button,
.sa .xm-navbar,
.sa .xm-price,
.sa .xm-text {
  direction: rtl;
}
.eg .header.header--desktop .site-logo .site-logo__wrapper img,
.gcc .header.header--desktop .site-logo .site-logo__wrapper img,
.sa .header.header--desktop .site-logo .site-logo__wrapper img {
  transform: none;
}
.eg .header.header--desktop .entry__item:before,
.gcc .header.header--desktop .entry__item:before,
.sa .header.header--desktop .entry__item:before {
  right: 0;
}
.eg .header.header--desktop .entry__left .entry__item:first-child,
.gcc .header.header--desktop .entry__left .entry__item:first-child,
.sa .header.header--desktop .entry__left .entry__item:first-child {
  padding-left: 20px;
}
.eg .footer.footer--desktop .footer-bottom .copyright,
.gcc .footer.footer--desktop .footer-bottom .copyright,
.sa .footer.footer--desktop .footer-bottom .copyright {
  float: right;
}
.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: initial;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: initial;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.hairlines abbr[title] {
  border-bottom: 0.5px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: initial;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: initial;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 0.007813rem;
  padding: 0.35em 0.625em 0.75em;
}
.hairlines fieldset {
  border: 0.5px solid silver;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

a,
body {
  color: #757575;
}
p > a {
  color: #ff6700;
}
p > a:hover {
  text-decoration: underline;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.429688rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.390625rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.351563rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.234375rem;
}
.eco_ksp {
  font-size: 0.117188rem;
  line-height: 0.171875rem;
}
.eco_name-radius {
  border-radius: 0.015625rem;
  font-size: 0.15625rem;
  line-height: 0.226563rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.117188rem 0.136719rem;
}
.eco_title {
  font-size: 0.234375rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.117188rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.109375rem;
}
.eco_number {
  font-size: 0.429688rem;
  line-height: 0.429688rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.257813rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.039063rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.039063rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}
.scroll-common .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common-grey .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common-grey .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common-grey .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-small li > button {
  border-radius: 0;
  height: 0.023438rem;
  margin: 0 0.03125rem;
  width: 0.195313rem;
}
.scroll-small .slick-slide div img {
  border-radius: 0.195313rem;
}
.eco_specs-title {
  font-size: 0.109375rem;
  line-height: 0.140625rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.070313rem;
  line-height: 0.101563rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}


a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}
body {
  background-color: var(--background-base);
  color: var(--title-dark);
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}
