.div1.fly-birds-page_7d48af609c {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
.div1.fly-birds-page_7d48af609c,
.div1.fly-birds-page_7d48af609c .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div2 {
  align-items: center;
  height: 38.604167rem;
}
.div1.fly-birds-page_7d48af609c .div2 .image3 {
  height: 38.604167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div2 .div4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.208333rem;
  margin-top: -33.125rem;
  min-height: 4.875rem;
  width: 19.208333rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div2 .div4 .div5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.541667rem;
  width: 19.208333rem;
}
.div1.fly-birds-page_7d48af609c .div2 .div4 .div5 .text-container-1400 {
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div5
  .text-container-1400
  .split_text1481 {
  color: #fff;
  font-size: 2.083333rem;
  line-height: 0.958333rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div5
  .text-container-1400
  .split_text1482,
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div5
  .text-container-1400
  .split_text1483,
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div5
  .text-container-1400
  .split_text1484 {
  color: #fff;
  font-size: 2.083333rem;
  letter-spacing: 0.041667rem;
  line-height: 0.875rem;
}
.div1.fly-birds-page_7d48af609c .div2 .div4 .div6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.229167rem;
  min-height: 0.875rem;
  width: 4.395833rem;
}
.div1.fly-birds-page_7d48af609c .div2 .div4 .div6 .text-container-1401 {
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div6
  .text-container-1401
  .split_text1485 {
  color: #fff;
  font-family: CamphorProForXiaoMi-Regular, sans-serif;
  font-size: 0.75rem;
  line-height: 2.9375rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div6
  .text-container-1401
  .split_text1486 {
  color: #fff;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 1.208333rem;
  line-height: 2.9375rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div6
  .text-container-1401
  .split_text1487 {
  color: #fff;
  font-family: CamphorProForXiaoMi-Bold, sans-serif;
  font-size: 1.25rem;
  line-height: 2.9375rem;
}
.div1.fly-birds-page_7d48af609c
  .div2
  .div4
  .div6
  .text-container-1401
  .split_text1488 {
  color: #fff;
  font-family: CamphorProForXiaoMi-Regular, sans-serif;
  font-size: 0.75rem;
  line-height: 2.9375rem;
}
.div1.fly-birds-page_7d48af609c .image7 {
  height: 526.25rem;
  margin-top: -38.604167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 47.854167rem;
  justify-content: flex-start;
  margin-top: -487.645833rem;
  padding-bottom: 1.958333rem;
  width: 22.5rem;
  z-index: 2;
}
.div1.fly-birds-page_7d48af609c .div8 .image9 {
  height: 47.854167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 .image10 {
  height: 9.3125rem;
  margin-top: -44.020833rem;
  width: 20.416667rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div8 .div11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -10.729167rem;
  margin-top: 1.104167rem;
  min-height: 12.458333rem;
  width: 9.6875rem;
  z-index: 2;
}
.div1.fly-birds-page_7d48af609c .div8 .div11 .image12 {
  height: 12.458333rem;
  width: 9.6875rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 .div11 .div13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.791667rem;
  margin-top: -10.916667rem;
  min-height: 2.375rem;
  width: 6.229167rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div8 .div11 .div13 .split_text1489 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  text-align: left;
  width: 7.083333rem;
}
.div1.fly-birds-page_7d48af609c .div8 .div14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10.6875rem;
  margin-top: -12.458333rem;
  min-height: 12.458333rem;
  width: 9.6875rem;
  z-index: 3;
}
.div1.fly-birds-page_7d48af609c .div8 .div14 .image15 {
  height: 12.458333rem;
  width: 9.6875rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 .div14 .div16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.729167rem;
  margin-top: -10.916667rem;
  min-height: 2.541667rem;
  width: 5.916667rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div8 .div14 .div16 .split_text1490 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  text-align: left;
  width: 7.083333rem;
}
.div1.fly-birds-page_7d48af609c .div8 .div17 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.104167rem;
  min-height: 10.1875rem;
  width: 20.416667rem;
  z-index: 4;
}
.div1.fly-birds-page_7d48af609c .div8 .div17 .image18 {
  height: 10.1875rem;
  width: 20.416667rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 .div17 .div19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -19.0625rem;
  margin-top: -3.8125rem;
  min-height: 2.375rem;
  width: 6.395833rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div8 .div17 .div19 .split_text1491 {
  color: #fff;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  text-align: left;
  width: 7.083333rem;
}
.div1.fly-birds-page_7d48af609c .div8 .div20 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.104167rem;
  min-height: 6.791667rem;
  padding-right: 2.104167rem;
  width: 20.416667rem;
  z-index: 5;
}
.div1.fly-birds-page_7d48af609c .div8 .div20 .image21 {
  height: 6.791667rem;
  width: 20.416667rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div8 .div20 .div22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -8.520833rem;
  margin-top: -0.166667rem;
  min-height: 2.375rem;
  width: 6.416667rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div8 .div20 .div22 .split_text1492 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  text-align: left;
  width: 7.083333rem;
}
.div1.fly-birds-page_7d48af609c .div23 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37.375rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 3;
}
.div1.fly-birds-page_7d48af609c .div23 .image24 {
  height: 37.375rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.0625rem;
  margin-top: -34.020833rem;
  min-height: 7.25rem;
  width: 20.145833rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div26 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.166667rem;
  min-height: 1.25rem;
  width: 12.854167rem;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div26 .split_text1494 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div27 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.166667rem;
  margin-top: 0.375rem;
  min-height: 1.270833rem;
  width: 14.3125rem;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div27 .split_text1495 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.895833rem;
  min-height: 3.458333rem;
  width: 20.145833rem;
}
.div1.fly-birds-page_7d48af609c .div23 .div25 .div28 .split_text1493 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.5rem;
}
.div1.fly-birds-page_7d48af609c .div29 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37.458333rem;
  justify-content: flex-start;
  margin-top: -0.520833rem;
  width: 22.5rem;
  z-index: 4;
}
.div1.fly-birds-page_7d48af609c .div29 .image30 {
  height: 37.458333rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.0625rem;
  margin-top: -33.541667rem;
  min-height: 8.875rem;
  width: 20.145833rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div32 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  min-height: 1rem;
  width: 15.791667rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div29 .div31 .div32 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div32 .split_text1497 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div33 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.645833rem;
  min-height: 2.5rem;
  width: 19.645833rem;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div33 .split_text1498 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.354167rem;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div34 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.270833rem;
  min-height: 3.458333rem;
  width: 20.145833rem;
}
.div1.fly-birds-page_7d48af609c .div29 .div31 .div34 .split_text1496 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.5rem;
}
.div1.fly-birds-page_7d48af609c .div35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 41.979167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 5;
}
.div1.fly-birds-page_7d48af609c .div35 .image36 {
  height: 41.979167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.0625rem;
  margin-top: -37.833333rem;
  min-height: 14.020833rem;
  width: 20.0625rem;
  z-index: 2;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div38 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.083333rem;
  min-height: 1.291667rem;
  width: 17.770833rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div38 .split_text1500 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div39 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.104167rem;
  margin-top: 0.375rem;
  min-height: 2.770833rem;
  width: 13.958333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div39 .split_text1501 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.979167rem;
  min-height: 2.541667rem;
  width: 20.0625rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div40 .split_text1499 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.4375rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div41 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.833333rem;
  margin-top: 0.8rem;
  min-height: 0.9375rem;
  width: 13.8125rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div41 .div42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.9375rem;
  width: 3.791667rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div41 .div42 .split_text1502 {
  background: linear-gradient(50deg, #3dd8d3 20%, #363a88 50%, #dd4366 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  width: 8.333333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div41 .div43 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.9375rem;
  width: 4.5rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div41 .div43 .split_text1504 {
  background: linear-gradient(50deg, #3dd8d3 20%, #363a88 50%, #dd4366 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  width: 8.333333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div44 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.520833rem;
  min-height: 1.645833rem;
  width: 14.583333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div44 .div45 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.645833rem;
  width: 4.916667rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div44 .div45 .split_text1503 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: center;
  width: 8.333333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div44 .div46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.645833rem;
  width: 5rem;
}
.div1.fly-birds-page_7d48af609c .div35 .div37 .div44 .div46 .split_text1505 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: center;
  width: 8.333333rem;
}
.div1.fly-birds-page_7d48af609c .div35 .image47 {
  height: 4.0625rem;
  margin-left: -0.125rem;
  margin-top: -3.416667rem;
  width: 0.041667rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div48 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34.375rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 6;
}
.div1.fly-birds-page_7d48af609c .div48 .image49 {
  height: 34.375rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1px;
  margin-top: -30.208333rem;
  min-height: 7.9375rem;
  width: 20.1875rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7d48af609c .div48 .div50 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.0625rem;
  min-height: 1.270833rem;
  width: 7.916667rem;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div51 .split_text1507 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div52 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.0625rem;
  margin-top: 0.354167rem;
  min-height: 2.791667rem;
  width: 14.125rem;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div52 .split_text1508 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div53 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.979167rem;
  min-height: 2.541667rem;
  width: 20.1875rem;
}
.div1.fly-birds-page_7d48af609c .div48 .div50 .div53 .split_text1506 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.541667rem;
}
.div1.fly-birds-page_7d48af609c .div54 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47.5rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 7;
}
.div1.fly-birds-page_7d48af609c .div54 .image55 {
  height: 47.5rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.0625rem;
  margin-top: -45.958333rem;
  min-height: 8.333333rem;
  width: 20.354167rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div57 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.145833rem;
  min-height: 1.583333rem;
  width: 8.375rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div57 .image58 {
  height: 1.583333rem;
  width: 6.458333rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div57 .div59 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.104167rem;
  min-height: 1.083333rem;
  width: 1.8125rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div57 .div59 .split_text1510 {
  color: #0081fb;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
  width: 7.916667rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div60 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.125rem;
  margin-top: 0.708333rem;
  min-height: 1.270833rem;
  width: 8.229167rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div60 .split_text1511 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div61 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.3125rem;
  min-height: 3.458333rem;
  width: 20.354167rem;
}
.div1.fly-birds-page_7d48af609c .div54 .div56 .div61 .split_text1509 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.5625rem;
}
.div1.fly-birds-page_7d48af609c .div62 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30.791667rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 8;
}
.div1.fly-birds-page_7d48af609c .div62 .image63 {
  height: 30.791667rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.0625rem;
  margin-top: -30.125rem;
  min-height: 7.6875rem;
  width: 20.354167rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div65 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.125rem;
  min-height: 1.25rem;
  width: 10.854167rem;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div65 .split_text1513 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div66 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.083333rem;
  margin-top: 0.395833rem;
  min-height: 1.270833rem;
  width: 15.5625rem;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div66 .split_text1514 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div67 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.3125rem;
  min-height: 3.458333rem;
  width: 20.354167rem;
}
.div1.fly-birds-page_7d48af609c .div62 .div64 .div67 .split_text1512 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.5625rem;
}
.div1.fly-birds-page_7d48af609c .div68 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40.854167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 9;
}
.div1.fly-birds-page_7d48af609c .div68 .image69 {
  height: 40.854167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -37.666667rem;
  min-height: 5.854167rem;
  width: 20.291667rem;
  z-index: 2;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div71 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.0625rem;
  min-height: 0.979167rem;
  width: 8.3125rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div71 .split_text1524 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div72 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.645833rem;
  min-height: 1.270833rem;
  width: 13.270833rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div68 .div70 .div72 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div72 .split_text1525 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.333333rem;
  min-height: 1.625rem;
  width: 20.291667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div70 .div73 .split_text1523 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.541667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -0.208333rem;
  margin-top: 3.375rem;
  min-height: 7.604167rem;
  width: 18.125rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1px;
  min-height: 2.9375rem;
  width: 18.104167rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div68 .div74 .div75 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -0.041667rem;
  min-height: 2.645833rem;
  width: 7.3125rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 .image77 {
  height: 1.458333rem;
  width: 0.770833rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 .div78 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.25rem;
  margin-top: 0.1875rem;
  min-height: 2.458333rem;
  width: 5.291667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 .div78 .div79 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.708333rem;
  width: 3.166667rem;
}
.hairlines
  .div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div76
  .div78
  .div79 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div76
  .div78
  .div79
  .split_text1515 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 .div78 .div80 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.0625rem;
  margin-top: 0.4375rem;
  min-height: 0.708333rem;
  width: 5.229167rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div76
  .div78
  .div80
  .split_text1516 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div76 .div78 .div81 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.041667rem;
  min-height: 0.5625rem;
  width: 4rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div76
  .div78
  .div81
  .split_text1517 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3.166667rem;
  min-height: 2.9375rem;
  width: 7.625rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .image83 {
  height: 1.583333rem;
  width: 0.916667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .div84 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.270833rem;
  margin-top: 0.3125rem;
  min-height: 2.625rem;
  width: 5.4375rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .div84 .div85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.708333rem;
  width: 5.104167rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div82
  .div84
  .div85
  .split_text1518 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .div84 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .div84 .div86 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.479167rem;
  min-height: 0.708333rem;
  width: 5.416667rem;
}
.hairlines
  .div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div82
  .div84
  .div86 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div82
  .div84
  .div86
  .split_text1519 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div75 .div82 .div84 .div87 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.041667rem;
  min-height: 0.729167rem;
  width: 4.958333rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div75
  .div82
  .div84
  .div87
  .split_text1520 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 6.666667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div88 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 1.854167rem;
  width: 15rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div88 .image89 {
  height: 1.729167rem;
  margin-bottom: 0.125rem;
  width: 1.041667rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div88 .div90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.1875rem;
  min-height: 1.645833rem;
  width: 12.770833rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div88 .div90 .div91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.5625rem;
  width: 12.770833rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div88
  .div90
  .div91
  .split_text1521 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 17.208333rem;
}
.div1.fly-birds-page_7d48af609c .div68 .div74 .div88 .div90 .div92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.708333rem;
  width: 10.104167rem;
}
.div1.fly-birds-page_7d48af609c
  .div68
  .div74
  .div88
  .div90
  .div92
  .split_text1522 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: left;
  width: 17.208333rem;
}
.div1.fly-birds-page_7d48af609c .div93 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 39.979167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 10;
}
.div1.fly-birds-page_7d48af609c .div93 .image94 {
  height: 39.979167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: -35.979167rem;
  min-height: 8.145833rem;
  width: 19.4375rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7d48af609c .div93 .div95 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div96 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 1.270833rem;
  width: 9.708333rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div93 .div95 .div96 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div96 .split_text1527 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div97 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.0625rem;
  margin-top: 0.395833rem;
  min-height: 2.770833rem;
  width: 17.708333rem;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div97 .split_text1528 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div98 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.166667rem;
  min-height: 2.541667rem;
  width: 19.4375rem;
}
.div1.fly-birds-page_7d48af609c .div93 .div95 .div98 .split_text1526 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div99 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 79.354167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 11;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 36.041667rem;
  width: 22.5rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .image101 {
  height: 36.041667rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div102 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  margin-top: -33.6875rem;
  min-height: 2.4375rem;
  width: 10.520833rem;
  z-index: 2;
}
.hairlines .div1.fly-birds-page_7d48af609c .div99 .div100 .div102 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div102 .split_text1534 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div103 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.0625rem;
  margin-top: 0.458333rem;
  min-height: 1.291667rem;
  width: 12.6875rem;
  z-index: 3;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div103 .split_text1535 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div104 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.333333rem;
  min-height: 4.208333rem;
  width: 20.333333rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div99 .div100 .div104 .split_text1533 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.541667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 43.3125rem;
  padding-bottom: 19.833333rem;
  width: 22.5rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .image106 {
  height: 43.3125rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .image107 {
  height: 2.541667rem;
  margin-left: 3.395833rem;
  margin-top: -39.479167rem;
  width: 2.541667rem;
  z-index: 2;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3.395833rem;
  margin-top: -1.520833rem;
  min-height: 14.5rem;
  width: 14.5625rem;
  z-index: 3;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div109 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2.291667rem;
  min-height: 0.604167rem;
  width: 6.3125rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div109 .split_text1531 {
  color: #000;
  font-size: 0.833333rem;
  line-height: 1.5rem;
  text-align: left;
  width: 7.479167rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div110 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.5625rem;
  margin-top: 2.645833rem;
  min-height: 2.479167rem;
  width: 12.916667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div110 .split_text1532 {
  color: #000;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: left;
  width: 15.541667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div111 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.583333rem;
  min-height: 4.541667rem;
  width: 14.5625rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div111 .split_text1529 {
  color: #595d61;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
  width: 15.541667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div112 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.4375rem;
  margin-top: 1.104167rem;
  min-height: 1.541667rem;
  width: 13.083333rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div108 .div112 .split_text1530 {
  color: #595d61;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
  width: 15.541667rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div113 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3.375rem;
  margin-top: 2.708333rem;
  min-height: 1.416667rem;
  width: 12.083333rem;
  z-index: 1;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div113 .image114 {
  height: 1.416667rem;
  width: 6.958333rem;
}
.div1.fly-birds-page_7d48af609c .div99 .div105 .div113 .image115 {
  height: 1.416667rem;
  margin-left: 0.895833rem;
  width: 4.229167rem;
}
.div1.fly-birds-page_7d48af609c .div116 {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-bottom: 4.166667rem;
  padding-top: 2.083333rem;
  width: 22.5rem;
  z-index: 12;
}
.div1.fly-birds-page_7d48af609c .div116 .image117 {
  height: 51.354167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -1px;
  min-height: 43.166667rem;
  width: 18.291667rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 {
  margin-top: -0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div119 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 14.0625rem;
  width: 18.270833rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div119 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div119 .split_text1536 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.479167rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div120 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 5.583333rem;
  width: 17.791667rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div120 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div120 .split_text1537 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.333333rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div121 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 9.854167rem;
  width: 18.145833rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div121 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div121 .split_text1538 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.354167rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div122 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 2.354167rem;
  width: 17.520833rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div122 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div122 .split_text1539 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.333333rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div123 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 3.083333rem;
  width: 17.145833rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div123 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div123 .split_text1540 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.333333rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div124 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 4.0625rem;
  width: 17.958333rem;
}
.hairlines .div1.fly-birds-page_7d48af609c .div116 .div118 .div124 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div124 .split_text1541 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.333333rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div125 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2.395833rem;
  width: 18.25rem;
}
.div1.fly-birds-page_7d48af609c .div116 .div118 .div125 .split_text1542 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  text-align: left;
  width: 18.4375rem;
}
.specs-con {
  background-color: #fff;
}

html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}

body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.25rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.041667rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 0.104167rem auto -webkit-focus-ring-color;
  outline-offset: -0.041667rem;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: initial;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: initial;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}


.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}

a {
  color: #000;
  text-decoration: none;
}
.slick-slider .slick-list,
.slick-slider .slick-slider,
.slick-slider .slick-track {
  display: block;
}
.slick-slider .slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-slide {
  display: block;
  float: left;
  height: 100%;
  touch-action: pan-y;
}
.slick-slider .slick-dots {
  bottom: 0.333333rem;
  display: flex !important;
  flex-basis: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.slick-slider .slick-dots li {
  margin: 0 0.104167rem;
  overflow: hidden;
}
.slick-slider .slick-dots li > button {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.slick-slider .slick-dots li.slick-active > button {
  background-color: #b0b0b0;
}

main {
  font-size: 0.75rem;
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}